<%= form_for @project, html: {multipart: true} do |f| %>
	
<div class="container">
  <div class="row">
  <h4>Novo Projeto</h4>
 <div class="col col-md-2"></div>
    <div class="col col-md-8">
  <form>
  <div class="form-group required">
    <label for="exampleInputEmail1" class='control-label'>Título do Projeto</label>
    <%= f.text_field :title, autocomplete: "off", class: "form-control", 'aria-describedby': "emailHelp", placeholder: "Ex: Fast Burguer Maker" %>
    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
  </div>
  <div class="form-group required">
    <label for="exampleTextarea" class='control-label'>Descrição</label>
    <%= f.text_area :description, autocomplete: "off", placeholder: "Uma breve descrição do projeto", rows: 7, class: "form-control" %>
  </div>
  	<br>
  		<%= f.label "Image do projeto:" %> <br>
		<%= f.file_field :image %>
	<br>
	<%= f.label "Arrecadação de R$ 0,00", :id => "budget_label_id" %>
	<%= f.range_field :budget, :in => 0..500, :step => '1', :id => "budget_id", :value => 0 %>
	<script type="text/javascript">
		window.addEventListener('load', function() {
			var showElem = document.getElementById("budget_label_id");
			var elem = document.getElementById("budget_id");
			elem.addEventListener('change', function() {
				showElem.innerText = "Arrecadação de R$ " + elem.value + ",00";
			});
		});
	</script>
	<br>
	<br>
	<%= f.submit "Criar", class: "btn btn-primary btn-md" %> 
	<%= link_to 'Voltar para os meus projetos', projects_path, class: "btn btn-link" %>
	<br>
</div>


<% end %>

