<div class="jumbotron">
  <h1 class="display-4"><%= @project.title %></h1>
  <%= image_tag(@project.image) %>
  <p class="lead">
  	<%= @project.description %>
  </p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to 'Editar', edit_project_path(@project), class: "btn btn-link" %> |
	<%= link_to 'Voltar', projects_path, class: "btn btn-link" %>
  </p>
</div>