<!DOCTYPE html>
<html>
  <head>
    <title>Catarsinho</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
  
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <%= image_tag("logo_big.png", :alt => "rss feed", :class => "d-inline-block align-top") %>
      </a>

      <% if user_signed_in? %>
        
        <span class="nav-item">
          <%= link_to "Meus Projetos", projects_path, class: "btn btn-info" %>
          <%= link_to "Sair", destroy_user_session_path, :method => :delete, class: "btn btn-dark" %>   
        </span>
      <% else %>
        <span class="nav-item">
          <%= link_to "Entrar", new_user_session_path, class: "btn btn-info" %>
        </span>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
